body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( bottom right #b968c5 skyblue);
    position: relative;

}
.wrapper{
    padding: clamp(2rem,2rem + 3vw, 10rem);

}


.audio-player {
    display: grid;
    grid-template-rows: 6px auto;
    width: max(30rem,60vw);
    background: hsl(0, 0%, 14%); 
    color: white;
    box-shadow: 0 0 20px 0 #000a;
}

.slider {
    position:relative;
    background: white;
    width: 100%;
    cursor:pointer;
    box-shadow: 0 2px 10px 0 #0008;
    .progress {
        width: 0;
        height: 100%;
        background-color: coral;
        transition: 0.25s;
        .progress-pointer {
            left: 0;
            top: -6px;
            height: 16px;
            width: 16px;
            border-radius: 8px;
            background-color: #44BFA3;
            position: absolute;
            pointer-events: all;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.32);
          }
    }
}


.track-info {
    display: flex;
    .volume-container {
        display: flex;
        .volume-tracker {
                position:relative;
                
                width: 0;
                height: 15px;
                background: white;
                
                transition: .25s;
                .volume-percentage {
                background: coral;
                height: 100%;
                width: 75%;
                .progress-pointer {
                    left: 0;
                    top: -6px;
                    height: 16px;
                    width: 16px;
                    border-radius: 8px;
                    background-color: #44BFA3;
                    position: absolute;
                    pointer-events: all;
                    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.32);
                  }
                }
            }
            &:hover {
                .volume-tracker {
                width: 5rem;
                }
            }
        }

    .loud-speaker > .non-active{
        display: none;
}


}





.controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 2rem;
    > * {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .play-container > .non-active{
            display: none;
    }
   
    .time {
        display: flex;
        > * {
            padding: 2px;
        }
        
    }
}
    
    .album-art {
        position: absolute;
        left: 20px;
        top: 50%;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0);
        transform: scale(1);
        transition: all .5s ease;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            background-color: #fff;
            border-radius: 50%;
            z-index: 5;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80px;
            background-image: 	url('https://i.scdn.co/image/9dcbd30dbe0c621cbaeae427cf80eff9877b4fcd');
        }
    }
    
    &.active .album-art {
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
        transform: scale(1.2);
        transition: all .5s ease;
    }
    
    &.active .album-art::before {
        animation: rotation 3s infinite linear;
        -webkit-animation: rotation 3s infinite linear;
        animation-fill-mode: forwards;
    }
    
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        
        100% {
            transform: rotate(360deg);
        }
    }

    .track-list{
        width: 100%;
        filter: blur(4rem);
        
    }

    .track {
        width: 80%;
        height: 3rem;
        background-color: hsla(0, 0%, 95%, 0.685);
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 1rem;
        list-style: none;


    }

    .track:hover{
        cursor: pointer;
    }
    
    .list-track-name{
        font-family: sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .list-track-author{
        font-family: sans-serif;
        font-size: .7rem;
        font-weight: 600;
    }
